@page
@model AccountModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="display-5 fw-bold mb-5">Akun</h1>
<div class="d-flex align-items-center mb-5">
    <div class="d-flex justify-content-center align-items-center p-2 me-5"
        style="width: 128px; height: 128px; border-radius: 9999px; background-color: rgba(160, 174, 192, 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="108" viewBox="0 0 32 38" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.56406 9.29633C6.56406 4.16133 10.7872 0 15.9984 0C21.2096 0 25.4359 4.16133 25.4359 9.29633C25.4359 14.4344 21.2096 18.5958 15.9984 18.5958C10.7872 18.5958 6.56406 14.4344 6.56406 9.29633ZM16.0672 38C22.2976 38 27.936 35.5421 32 31.588V28.783C32 25.3911 29.136 22.6383 25.6 22.6383H6.4C2.864 22.6383 0 25.3911 0 28.783V31.4467C4.0736 35.4807 9.7664 38 16.0672 38Z"
                fill="white" />
        </svg>
    </div>
    <h3>@Model.Name</h3>
</div>
<div id="body-content" class="bg-white px-4 py-3">
    <p class="fs-4 text-secondary-color p-0 m-0">Informasi Umum</p>
    <p>Data yang umumnya ditampilkan di semua web myITS</p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center mb-3">
            <div class="me-3" style="min-width: 35px">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15 13.5C16.1935 13.5 17.3381 13.0259 18.182 12.182C19.0259 11.3381 19.5 10.1935 19.5 9C19.5 7.80653 19.0259 6.66193 18.182 5.81802C17.3381 4.97411 16.1935 4.5 15 4.5C13.8065 4.5 12.6619 4.97411 11.818 5.81802C10.9741 6.66193 10.5 7.80653 10.5 9C10.5 10.1935 10.9741 11.3381 11.818 12.182C12.6619 13.0259 13.8065 13.5 15 13.5V13.5ZM4.5 27C4.5 25.6211 4.77159 24.2557 5.29927 22.9818C5.82694 21.7079 6.60036 20.5504 7.57538 19.5754C8.55039 18.6004 9.70791 17.8269 10.9818 17.2993C12.2557 16.7716 13.6211 16.5 15 16.5C16.3789 16.5 17.7443 16.7716 19.0182 17.2993C20.2921 17.8269 21.4496 18.6004 22.4246 19.5754C23.3996 20.5504 24.1731 21.7079 24.7007 22.9818C25.2284 24.2557 25.5 25.6211 25.5 27H4.5Z"
                        stroke="#001737" />
                </svg>
            </div>
            <div class="p-1">
                <p class="fs-5 text-secondary-color p-0 m-0">Nama</p>
                <p class="p-0 m-0">@Model.Name</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center mb-3">
            <div class="me-3" style="min-width: 35px">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path
                        d="M26.5 9.76611V21C26.5 21.3978 26.342 21.7794 26.0607 22.0607C25.7794 22.342 25.3978 22.5 25 22.5H5C4.60218 22.5 4.22064 22.342 3.93934 22.0607C3.65804 21.7794 3.5 21.3978 3.5 21V9.76811L8.98189 15.25L4.11545 20.1164L4.1154 20.1164L4.10952 20.1225C3.88171 20.3581 3.75557 20.6738 3.75826 21.0016C3.76095 21.3293 3.89226 21.6429 4.12392 21.8748C4.35557 22.1066 4.66902 22.2382 4.99677 22.2412C5.32452 22.2442 5.64033 22.1184 5.87619 21.8908L5.87624 21.8909L5.88255 21.8846L10.7492 17.0179L12.7035 18.9687L12.7038 18.9689L26.5 9.76611ZM26.5 9.76611L21.0181 15.248L25.8818 20.1117L26.5 9.76611ZM25.2151 7.5158L25.2144 7.51645L15.529 17.2019C15.5288 17.2021 15.5286 17.2023 15.5285 17.2024C15.3876 17.3427 15.1968 17.4214 14.998 17.4214C14.7991 17.4214 14.6083 17.3426 14.4673 17.2022C14.4672 17.2021 14.4671 17.202 14.467 17.2019L4.78359 7.51648L4.78359 7.51648L4.78291 7.5158L4.78389 7.51566C4.85524 7.50515 4.92727 7.49991 4.99939 7.5H5H25L25.0001 7.5C25.0717 7.49999 25.1433 7.50522 25.2141 7.51566L25.2151 7.5158Z"
                        stroke="#001737" />
                </svg>
            </div>
            <div class="p-1">
                <p class="fs-5 text-secondary-color p-0 m-0">Email</p>
                <p class="p-0 m-0">@Model.Email</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center mb-3">
            <div class="me-3" style="min-width: 35px">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path
                        d="M22.9103 28.125C21.7665 28.125 20.1599 27.7113 17.754 26.3672C14.8284 24.7266 12.5655 23.2119 9.65577 20.3098C6.8503 17.5061 5.48507 15.6908 3.57432 12.2139C1.41573 8.28809 1.7837 6.23028 2.19503 5.35079C2.68487 4.29962 3.40792 3.6709 4.34249 3.04688C4.87332 2.69909 5.43507 2.40095 6.02061 2.15626C6.07921 2.13106 6.1337 2.10704 6.18233 2.08536C6.47237 1.95469 6.91182 1.75723 7.46846 1.96817C7.83995 2.10762 8.17159 2.39297 8.69073 2.90567C9.75538 3.95567 11.2103 6.29415 11.747 7.44258C12.1073 8.21661 12.3458 8.72754 12.3464 9.30059C12.3464 9.97149 12.0089 10.4889 11.5993 11.0473C11.5226 11.1522 11.4464 11.2523 11.3726 11.3496C10.9267 11.9356 10.8288 12.1049 10.8933 12.4072C11.0239 13.0148 11.9983 14.8236 13.5997 16.4215C15.2011 18.0193 16.9577 18.9322 17.5677 19.0623C17.8829 19.1297 18.0558 19.0277 18.6605 18.566C18.7472 18.4998 18.8362 18.4313 18.9294 18.3627C19.554 17.8981 20.0474 17.5693 20.7024 17.5693H20.706C21.2761 17.5693 21.7642 17.8166 22.5728 18.2244C23.6274 18.7565 26.0362 20.1926 27.0927 21.2584C27.6065 21.7764 27.8931 22.1068 28.0331 22.4777C28.244 23.0361 28.0454 23.4738 27.9159 23.7668C27.8942 23.8154 27.8702 23.8688 27.845 23.9279C27.5984 24.5124 27.2985 25.073 26.9491 25.6025C26.3263 26.5342 25.6952 27.2555 24.6417 27.7459C24.1007 28.0018 23.5087 28.1314 22.9103 28.125Z"
                        stroke="#001737" />
                </svg>
            </div>
            <div class="p-1">
                <p class="fs-5 text-secondary-color p-0 m-0">Nomor Ponsel</p>
                <p class="p-0 m-0">@Model.PhoneNumber</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="me-3" style="min-width: 35px">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-shield-exclamation" viewBox="0 0 16 16">
                    <path
                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                    <path
                        d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
            </div>
            <div class="p-1">
                <p class="fs-5 text-secondary-color p-0 m-0">NIK</p>
                <p class="p-0 m-0">@Model.NIK</p>
            </div>
        </div>
    </div>
</div>

<div id="body-content" class="bg-white px-4 py-3 mt-4">
    <p class="fs-4 text-secondary-color p-0 m-0">Symmetric Key</p>
    <p>Generate Symmetric Key dengan klik tombol dibawah.</p>
    <form method="post">
        @if (string.IsNullOrEmpty(Model.Key))
        {
            <p>Key: Belum Membuat Key</p>
        }
        else
        {
            <p>Key : @Model.Key</p>
        }
        <button type="submit" class="btn btn-primary" @(!string.IsNullOrEmpty(Model.Key) ? "disabled" : "")>Generate
            Key</button>
    </form>
</div>